<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809650090121-d8lc37gcog9om7url9h9kckeem3f3cqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809650090121-d8lc37gcog9om7url9h9kckeem3f3cqj</string>
	<key>API_KEY</key>
	<string>AIzaSyAPyVBtU1O6UGqLdtVIrnjIiEfsSQ70ntA</string>
	<key>GCM_SENDER_ID</key>
	<string>809650090121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nfl56.flutterPresensiGetx</string>
	<key>PROJECT_ID</key>
	<string>presence-getx-kuldi</string>
	<key>STORAGE_BUCKET</key>
	<string>presence-getx-kuldi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809650090121:ios:00d0e08648830995bf1658</string>
</dict>
</plist>